<div id="nome">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" [(ngModel)]="nome" />
</div>
<div id="genero">
    <label for="genero">Gênero:</label>
    <input type="text" name="genero" [(ngModel)]="genero" />
</div>
<div id="produtora">
    <label for="produtora">Produtora:</label>
    <input type="text" name="produtora" [(ngModel)]="produtora" />
</div>
<div id="diretor">
    <label for="diretor">Diretor:</label>
    <input type="text" name="diretor" [(ngModel)]="diretor" />
</div>
<button (click)="cadastrar()">Cadastrar</button>
